
<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <h1>Pagina para crear usuario</h1>

  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-3">

      <button class="btn btn-secondary"
              type="button"
              name="button"
              (click)="crearEmpleador()">
        Usuario empleador
      </button>
      <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-6 mx-auto mt-3">

      <button class="btn btn-secondary"
              type="button"
              name="button"
              (click)="crearEmpleado()">
        Usuario empleado
      </button>

      <p class="pt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
  </div>
</div>
